# js third-party dependencies
node_modules
node_modules/

# VSCode settings
.vscode

# db file
*.sqlite

# default create-react-app build folder
build

# app secrets
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macos
.DS_Store

# Vite
**/.vite/

# Playwright
.playwright-mcp/
